body {
    background-image:url("https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
 overflow-x: hidden;
   

}

*{
margin: 0;
padding: 0;
}

h1 {
    position: relative;
    left: 17em;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

.main {
    width: 70em;
    position: relative;
    left: 5em;
}

nav {

    /* width: 100%; */
    background-color: white;

}

.container {

    display: flex;
    column-gap: 3em;
    position: relative;
    left: 3em;
    top: 1em;
    /* background-color:aquamarine;  */
    width: 50em;
    height: 3em;


}

form {
    background-color: white;
    height: 18em;
}

.but1 {
    background-color: greenyellow;
    height: 2.5em;
    width: 13em;
    border: 2em;
    border-radius: 0.5em;
    

}

.but2 {
    background-color: aqua;
    height: 2.5em;
    width: 13em;
    border: 2em;
    border-radius: 0.5em;
}

.but3 {
    background-color: red;
    height: 2.5em;
    width: 13em;
    border: 2em;
    border-radius: 0.5em;
}
.demo{
display:flex;
}
.test{
    background-size:cover ;
height: 60px;
width: 170px;
border-radius: 16px;
display: flex;
justify-content: space-around;
align-items: center;
background-color: black;
color: white;
font-weight: bold;
font-size: 20px;
transition: all 1s linear;
}
.test:hover{
transform: scale(1.2,1.2);
}
a{
text-decoration: none;
color: white;

}
