body {
	overflow-x: hidden;
}

*{
        margin: 0;
        padding: 0;
    }
    nav{
        display: flex;
        background-color: black;
        height: 80px;
    }
    #part2{
        display: flex;
        position: relative;
        left: 25%;
      
       
        color: white;
        list-style: none;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        
       
    }
  

    #part1{
        position: relative;
        left: 4%;
        display: flex;
        align-items: center;
        font-size: 40px;
        font-weight: bolder;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: all 1s linear;
    }
    #part1:hover{
        transform: rotate(360deg);
  
    }
    #part3{
        background-color: black;
        text-decoration: none;
        color: white;
        transition: all 0.5s linear;
    }
    #part3:hover{
        background-color: rgb(248, 248, 243);
        color: black;
        border-radius: 5px;
       
    }
    #part4{
        background-color: black;
        text-decoration: none;
        color: white;
        transition: all 0.5s linear;
    }
    #part4:hover{
        background-color: rgb(248, 248, 243);
        color: black;
        border-radius: 5px;
       
    }
    #part5{
        background-color: black;
        text-decoration: none;
        color: white;
        transition: all 0.5s linear;
    }
    #part5:hover{
        background-color: rgb(248, 248, 243);
        color: black;
        border-radius: 5px;
       
    }
    #part6{
        background-color: black;
        text-decoration: none;
        color: white;
        transition: all 0.5s linear;
    }
    #part6:hover{
        background-color: rgb(248, 248, 243);
        color: black;
        border-radius: 5px;
       
    }
    #part7{
        background-color: black;
        text-decoration: none;
        color: white;
        transition: all 0.5s linear;
    }
    #part7:hover{
        background-color: rgb(248, 248, 243);
        color: black;
        border-radius: 5px;
       
    }

#main_body {
	width: 100vw;
	height: 50vw;
	background-color: aqua;
}

.product_container {
	width: 100%;
	
}

.child_product_container {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.child_product_container1 {
	width: 30%;
	border: 1px solid black;
	border-style: none;
	text-align: center;
	padding-top: 60px;
}

.img1 {
	width: 220px;
	height: 280px;
}
footer {
  background: #212529;
}